<%- include('./htmlTop.ejs') %>
    <title>User Profile</title>

<%- include('./htmlMiddle.ejs') %>

<div class="container">
    <h1>User Profile</h1>

	<h2>Username: <%= u.username %></h2>
	<p>Email: <%= u.email %></p>
	<p>Bio: <%= u.bio %></p>

    <h2>Published Posts</h2>
    <ul class="post-list">
        <% posts.forEach(function(post) { %>
            <li>
                <a href="/post/<%= post._id %>"><%= post.title %></a>
            </li>
        <% }); %>
    </ul>
</div>

<%- include('./htmlBottom.ejs') %>
