<%- include ('./layout.ejs') %>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>User Profile: <%= u.username %></h2>
        <p>Email: <%= u.email %></p>
        <p>Bio: <%= u.bio %></p>
        <h3>Published Posts</h3>
        <ul  class="post-list">
            <% posts.forEach(post => { %>
                <li>
                    <a href="/post/<%= post.id %>"><%= post.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>

</body>

</html>