<%- include ('./layout.ejs') %>

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Search</h2>
        <form action="/search" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for posts..." name="query" value="<%= query %>" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="filter">Filter By:</label>
                    <select id="filter" class="form-control" name="filter">
                        <option value="title" <%= filter === 'title' ? 'selected' : '' %>>Title</option>
                        <option value="author" <%= filter === 'author' ? 'selected' : '' %>>Author</option>
                        <option value="keywords" <%= filter === 'keywords' ? 'selected' : '' %>>Keywords</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="sort">Sort By:</label>
                    <select id="sort" class="form-control" name="sort">
                        <option value="dateAsc" <%= sort === 'dateAsc' ? 'selected' : '' %>>Date (Ascending)</option>
                        <option value="dateDesc" <%= sort === 'dateDesc' ? 'selected' : '' %>>Date (Descending)</option>
                        <option value="kudosAsc" <%= sort === 'kudosAsc' ? 'selected' : '' %>>Kudos (Ascending)</option>
                        <option value="kudosDesc" <%= sort === 'kudosDesc' ? 'selected' : '' %>>Kudos (Descending)</option>
                    </select>
                </div>
            </div>
        </form>

        <% if (results.length > 0) { %>
            <h3>Found <%= results.length %> result(s)</h3>
            <ul class="list-group">
                <% results.forEach(post => { %>
                    <li class="list-group-item">
                        <h4><a href="/post/<%= post.id %>"><%= post.title %></a></h4>
                        <p><%= post.content.substring(0, 100) %>...</p>
                        <p><small>Author: <%= post.author %>, Date: <%= post.createdAt %>, Kudos: <%= post.kudos %></small></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Nothing exists here yet,... maybe you'll do something about that?</p>
        <% } %>
    </div>
</div>

</body>

</html>