<%- include ('./layout.ejs') %>

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Search</h2>
        <form action="/search" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="searchText">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter text to search..." name="query" value="<%= query %>" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="searchBy">Search By</label>
                    <select class="form-control" id="searchBy" name="searchBy">
                        <option value="title" <%= searchBy === 'title' ? 'selected' : '' %>>Title</option>
                        <option value="author" <%= searchBy === 'author' ? 'selected' : '' %>>Author</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="keywords">Keywords</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" value="<%= keywords %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="sortBy">Sort By</label>
                    <select class="form-control" id="sortBy" name="sortBy">
                        <option value="dateAsc" <%= sortBy === 'dateAsc' ? 'selected' : '' %>>Date (Ascending)</option>
                        <option value="dateDesc" <%= sortBy === 'dateDesc' ? 'selected' : '' %>>Date (Descending)</option>
                        <option value="kudosAsc" <%= sortBy === 'kudosAsc' ? 'selected' : '' %>>Kudos (Ascending)</option>
                        <option value="kudosDesc" <%= sortBy === 'kudosDesc' ? 'selected' : '' %>>Kudos (Descending)</option>
                    </select>
                </div>
            </div>
        </form>
	<% if(results) { %>
            <% if (results.length > 0) { %>
                <h3>Found <%= results.length %> result(s)</h3>
                <ul class="list-group">
                    <% results.forEach(post => { %>
                        <li class="list-group-item">
                            <h4><a href="/post/<%= post.id %>"><%= post.title %></a></h4>
                            <p><%= post.content.substring(0, 100) %>...</p>
                            <p>Author: <%= post.username %></p>
                            <p>Date: <%= post.date %></p>
                            <p>Kudos: <%= post.nKudos %></p>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Nothing exists here yet,... maybe you'll change that?</p>
            <% } %>
        <% } %>
    </div>
</div>

</body>

</html>
