<%- include ('./layout.ejs') %>

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Search</h2>
        <form action="/search" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="searchText">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter search text..." name="query" value="String" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="searchBy">Search By</label>
                    <select class="form-control" id="searchBy" name="searchBy">
                        <option value=<%= post.title %> <%= searchBy === 'title' ? 'selected' : '' %>>Title</option>
                        <option value=<%= post.username %> <%= searchBy === 'author' ? 'selected' : '' %>>Author</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="keywords">Keywords</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" value="<%= post.keywords %>">
                </div>
                <div class="form-group col-md-3">
                    <label for="sortBy">Sort By</label>
                    <select class="form-control" id="sortBy" name="sortBy">
                        <option value="date" <%= sortBy === 'date' ? 'selected' : '' %>>Date</option>
                        <option value="kudos" <%= sortBy === 'kudos' ? 'selected' : '' %>>Kudos</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="order">Order</label>
                    <select class="form-control" id="order" name="order">
                        <option value="asc" <%= order === 'asc' ? 'selected' : '' %>>Ascending</option>
                        <option value="desc" <%= order === 'desc' ? 'selected' : '' %>>Descending</option>
                    </select>
                </div>
            </div>
        </form>

        <% if (results.length > 0) { %>
            <h3>Found <%= results.length %> result(s)</h3>
            <ul class="list-group">
                <% results.forEach(post => { %>
                    <li class="list-group-item">
                        <h4><a href="/post/<%= post._id %>"><%= post.title %></a></h4>
                        <p><%= post.content.substring(0, 100) %>...</p>
                        <p>Author: <%= post.user %></p>
                        <p>Date: <%= post.createdAt %></p>
                        <p>Kudos: <%= post.kudos %></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No results found.</p>
        <% } %>
    </div>
</div>

</body>

</html>