<%- include('./htmlTop.ejs') %>
    <title><%= post.title %></title>

<%- include('./htmlMiddle.ejs') %>

<div class="container">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p>Keywords: <%= post.keywords %></p>
    <p>Author: <a href="/user/<%= post.username %>"><%= post.username %></a></p>
    <p>Views: <%= post.views %></p>
    <% if(user == post.username) { %>
        <form method="POST" action="/post/<%= post.id %>/edit">
	    <button type="submit">Edit</button>
        </form>
	<form method "POST" action="/post/<%= post.id %>/delete">
	    <button type="submit">Delete</button>
	</form>
    <% } %>
    <ul>
	<% comments.forEach(function(comment) { %>
	    <li>
		    <a href="/user/<%= comment.username %>"><p><%= comment.username %></p></a>
		    <p><%= comment.content %></p>
	    </li>
	<% }); %>
    </ul>
</div>

<%- include('./htmlBottom.ejs') %>
