<%- include ('./layout.ejs') %>

<div class="card">
	<div class="card-body">
		<h2 class="card-title"><%= post.title %></h2>
		<textarea id="textarea" style="width: 100%" readonly><%= post.content %></textarea>
		<p class="card-text">Keywords: <%= post.keywords %></p>
		<p class="card-text">Author: <a href="/user/<%= post.username %>"><%= post.username %></a></p>
		<p class="card-text"><small class="text-muted">Published on <%= post.date %></small></p>
		<p class="card-text"><small class="text-muted">Views: <%= post.views %></small></p>
		<p class="card-text"><small class="text-muted">Kudos: <%= nKudos %></small></p>
		<% if(user == post.username) { %>
			<form method="GET" action="/post/<%= post.id %>/edit">
				<button type="submit">Edit</button>
			</form>
			<form method="POST" action="/post/<%= post.id %>/delete">
				<button type="submit">Delete</button>
			</form>
		<% } %>
		<% if(user) { %>
			<form method="POST" action="/post/<%= post.id %>/kudos">
				<button <% if(kudos) { %>style="background-color:dimgray;border-color:dimgray;color: lightgray" <% } %>type="submit">Kudos</button>
			</form>
			<form method="POST" action="/post/<%= post.id %>/comment">
				<label for="content">Comment: </label>
				<input type="text" name="content" id="content" required>
				<button type="submit">Comment</button>
			</form>
		<% } %>
		<ul>
			<% comments.forEach(function(comment) { %>
				<li>
					<a href="/user/<%= comment.username %>"><p><%= comment.username %></p></a>
					<p><%= comment.content %></p>
				</li>
			<% }); %>
		</ul>
	</div>
</div>

</body>

</html>
